footer{
    background-color: #ecf39e;
       height: auto;
    width: auto;
    color: rgb(62, 94, 33);
    font-family: $family-font;
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    margin-top: 80px;
    

       .socialMedia {
        width: 100px;
    
        }
    
    }
    
    




