header{
    nav{
        background-color: #ecf39e;

        .mrC{ 
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 10px;
            padding-left: 10px;
            font-weight: bold;
            font-family: $family-font;
            font-size: $font-size;
           color: $nav-color;
            
        }
        
        li{
            display: inline-block;
        .titlesNav{ 
            text-transform:initial;
            @extend .mrC;
               
               &:hover { 
                font-size: 31px;
                color: rgb(230, 221, 148);
                transition: all 0.5s;
                
                
        
                             
               }
           
            }
        }

        
    }
}
.cart{
                    width: 30px;
                    height: 40px;
                    display: flex;
                    justify-content: right;
                    color: black;
                    &:hover{
                        color: rgb(189, 180, 118);
                transition: all 0.7s;
                width: 33px;
                height: 43px;
                
                    }
                    
                }