

@import "vars";
@import "header";
@import "footer";
@import "contact";

@mixin text-mod {
    text-transform: uppercase;
    text-align: center;
    
}

body {
    background-image: linear-gradient(to left, #0b090a, #111d13);
}

.carousel{
    display: flex;
    width: 80%;
    justify-content: center;
    
    

    
}

.video {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: $padding;
}

.img {
    
    width: 100%;
    margin: auto;
    height: 100%;
     
}

a {
    text-decoration: none;
    color: rgb(185, 152, 41);
    font-weight: bold;
    text-transform: none;
}

.card{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 500px;
    


    


}

/*titles*/

.homeTitle{
    @include text-mod();
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: $font-size + 20px;
    font-family: $family-font;
    color: $title-color;
    letter-spacing: 5px;
    
    animation-name: homeTitle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 4s;

}
        
    
 .title {
        @include text-mod();
        font-family: $family-font;
        color: $title-color;
        font-size: $font-size +15px;
        letter-spacing: 5px;
        text-decoration: underline;
        animation-name: title;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 4s;
        padding-top: $padding +30px;
        padding-bottom: $padding;
        text-transform:capitalize;
    
        }

.newSubtitles {

        color: rgb(38, 49, 41);
        font-family: $family-font;
        font-weight: bold;
        font-size: $font-size;
        
        @include text-mod();
       
               
    }


 /*ABOUT US*/

.textUs {
    
color: whitesmoke;
font-family: $family-font;
font-weight: bold;
font-size: $font-size;
text-align: center;
    }


  
    
/*CARDS IN PRODUCTS*/
.productCards{
    .card-body{
        .productTitle {
            display: flex;
            color: rgb(88, 102, 11);
            font-family: $family-font;
            font-size: $font-size;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            letter-spacing: 3px;
            margin: auto;
            margin-bottom: 10px;
        } 
            
               
        .productText {
            @extend .productTitle;
            color: rgb(23, 24, 19);
            font-size: 25px;
           
        }
       
       } 
       .card-footer{
        .productPrice {
        font-size: 25px;
        display: flex;
            color: rgb(88, 102, 11);
            font-family: $family-font;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            letter-spacing: 3px;
            margin: auto;
            
            

          
        } }
    }

      
        
    

/*accordion in FAQ*/

.accordion{
      
    
    .faqTitles {
        
        text-align: left;
        font-family: $family-font;
        font-weight: bold;
        color: rgb(148, 122, 52);
        font-size: $font-size;
        padding-top: $padding +20px;
    }
    
    .faqText {
        color: rgb(52, 83, 61);
        font-family: $family-font;
        font-size: $font-size;
        text-align: justify center;
       
  }
    
}


/*ANIMATION*/


@keyframes homeTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }

}

