/*VARS*/
header nav {
  background-color: #ecf39e;
}
header nav .mrC, header nav li .titlesNav {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  font-family: cambria;
  font-size: 30px;
  color: black;
}
header nav li {
  display: inline-block;
}
header nav li .titlesNav {
  text-transform: initial;
}
header nav li .titlesNav:hover {
  font-size: 31px;
  color: rgb(230, 221, 148);
  transition: all 0.5s;
}

.cart {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: right;
  color: black;
}
.cart:hover {
  color: rgb(189, 180, 118);
  transition: all 0.7s;
  width: 33px;
  height: 43px;
}

footer {
  background-color: whitesmoke;
  height: auto;
  width: auto;
  color: rgb(62, 94, 33);
  font-family: cambria;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  margin-top: 80px;
}
footer .socialMedia {
  width: 100px;
}

.contactText, .contactText .form-control {
  text-transform: uppercase;
  text-align: center;
  font-family: cambria;
  color: #b38a58;
  font-size: 40px;
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration: none;
}
.contactText .form-control {
  font-size: 25px;
  text-transform: initial;
}

.button {
  font-weight: bold;
  background-color: #b38a58;
  font-size: 30px -10px;
}

.bottonText {
  font-family: cambria;
  font-size: 30px;
}

body {
  background-image: linear-gradient(to left, #0b090a, #111d13);
}

.carousel {
  display: flex;
  width: 100%;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}

.img {
  width: 100%;
  margin: auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(185, 152, 41);
  font-weight: bold;
  text-transform: none;
}

.card {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 500px;
  margin: auto;
  background-color: rgba(241, 236, 236, 0.973);
}

/*titles*/
.homeTitle {
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 50px;
  font-family: cambria;
  color: rgb(230, 221, 148);
  letter-spacing: 5px;
  -webkit-animation-name: homeTitle;
          animation-name: homeTitle;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-family: cambria;
  color: rgb(230, 221, 148);
  font-size: 45px;
  letter-spacing: 5px;
  text-decoration: underline;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  padding-top: 60px;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.newSubtitles {
  text-transform: uppercase;
  text-align: center;
  color: rgb(38, 49, 41);
  font-family: cambria;
  font-weight: bold;
  font-size: 30px;
  text-transform: initial;
  text-align: center;
}

/*ABOUT US*/
.textUs {
  color: whitesmoke;
  font-family: cambria;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-align: justify;
}

/*CARDS IN PRODUCTS*/
.productCards .card-body .productTitle, .productCards .card-body .productText {
  display: flex;
  color: rgb(88, 102, 11);
  font-family: cambria;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  letter-spacing: 3px;
  margin: auto;
  margin-bottom: 10px;
}
.productCards .card-body .productText {
  color: rgb(23, 24, 19);
  font-size: 25px;
}
.productCards .card-footer .productPrice {
  font-size: 25px;
  display: flex;
  color: rgb(88, 102, 11);
  font-family: cambria;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  letter-spacing: 3px;
  margin: auto;
}
.productCards .bottonProduct {
  background-color: rgb(31, 77, 31);
  display: flex;
  justify-content: center;
  font-family: cambria;
  font-size: 20px;
  margin-top: 20px;
}

/*accordion in FAQ*/
.accordion .faqTitles {
  text-align: left;
  font-family: cambria;
  font-weight: bold;
  color: rgb(148, 122, 52);
  font-size: 30px;
  padding-top: 50px;
}
.accordion .faqText {
  color: rgb(52, 83, 61);
  font-family: cambria;
  font-size: 30px;
  text-align: justify center;
}

/*ANIMATION*/
@-webkit-keyframes homeTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes homeTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}/*# sourceMappingURL=style.css.map */